/* general styles */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
hr{
    border-color:  #dbdbdb;
    border-width: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #418477;
}
a:hover,
a:focus {
    color: #23527c;
    text-decoration: none;
}
a:focus {
    --webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
.clearfix{
    clear: both;
    height: 10px;
}

.wrapper {
     overflow-y: scroll;
}
::-webkit-scrollbar
{
    width: 5px;  /* for vertical scrollbars */
    height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}




/*
 * Navigation sidebar + header

 */

.navbar {
    background-color: #418477;
    color: #fff;
}

.navbar-header{
    width: 50%;
}
/* Sidebar */
.sidebar{
    display: block;
    border-right: 1px solid #fbfbfb;
}

/* Sidebar navigation */

.nav > li > a {
    padding: 20px 0 20px 10%;
    color: #fff;
    vertical-align: middle;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav > li > a:hover,
.nav > li > a:focus{
    padding: 20px 0 20px 10%;
    color: #418477;
    webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.nav > li > .active > a,
.nav > li > .active > a:hover,
.nav > .active > a:focus {
    color: #222;
    background-color: #418477;
}


 /*     header     */
.header{
    min-height: 50px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 1px solid #dbdbdb;
}

.header-title{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #418477;
}
 /*   Main content */

.page-content, .block{
    padding-left:0;
    padding-right: 0;
    color: #222;

}


.terms{
    overflow-y: scroll;
    max-height:350px;
}

/* input fields + buttons */
.form-inline .form-control{
    width:100%;
}

.center{
    display: block;
    float: none;
    margin: 0 auto;}
input{
    display: block;
    width:100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #418477;
    background-color: #fbfbfb
    background-image: none;
    border: 1px solid #418477;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus{
    border-color: #418477;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 131, 119, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 131, 119, .4);
}
label{
    color:#418477;
    padding-top: 10px;
    font-weight: 600;
}
 /* bt default */
.btn-default {
    color: #418477;
    background-color: #fff;
    border-color: #418477;
    border-radius:0 ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: 0;
}
.btn-default:hover {
    color: #fff;
    background-color: #418477;
    border-color: #418477;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #418477;
    border-color: #418477;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background-color: #418477;
    border-color: #418477;
}

/* btn -submit */

.btn-submit {
    color: #418477;
    text-transform: uppercase;
    background-color: #fbfbfb;
    border-color: #418477;
    border-radius:0 ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-submit:focus,
.btn-submit.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: 0;
}
.btn-submit:hover {
    color: #418477;
    background-color: #dbdbdb;
    border-color: #418477;
    webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn-submit:active,
.btn-submit.active,
.open > .dropdown-toggle.btn-submit {
    color: #fff;
    background-color: #418477;
    border-color: #418477;
}
.btn-submit:active:hover,
.btn-submit.active:hover,
.open > .dropdown-toggle.btn-submit:hover,
.btn-submit:active:focus,
.btn-submit.active:focus,
.open > .dropdown-toggle.btn-submit:focus,
.btn-submit:active.focus,
.btn-submit.active.focus,
.open > .dropdown-toggle.btn-submit.focus {
    color: #fff;
    background-color: #418477;
    border-color: #418477;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
--webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
.btn:hover,
.btn:focus,
.btn.focus {

    text-decoration: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* custom icons buttons */
.new-schedule{
 margin-left: 5px;
    margin-right: 5px;
    height:28px;
    width:36px;
    display: inline-block;
    background: url('../img/schema-plus.png');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 25px;
    vertical-align: middle;
}
.new-pill{
    margin-left: 5px;
    margin-right: 5px;
    height:28px;
    width:24px;
    display: inline-block;
    background: url('../img/new-pill.png');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 25px;

    vertical-align: middle;
}


 /* general styles panels */

.panel {
    margin-bottom: 20px;
    background-color: transparent;
   border: 1px solid #418477;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default > .panel-heading {
    background-color: transparent;
    color: #418477;
    border-color: #dbdbdb;
    border: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dbdbdb;
    border: 0;
}
.panel-default > .panel-heading .badge {
    color: #fbfbfb;
    background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #dbdbdb;
    border: 0;
}
.panel-body {
    padding:15px;
    padding-top: 0;
}
.panel-body ul{
    padding-left: 0px;
}
.panel-heading {
    background: transparent;
    padding: 0 15px;
    padding-top:10px;
    border-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 1em;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;


}
.panel-heading h1{
    color:#428477;
    font-size:1.6em;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;

}
.title{
    padding:0px 40px 0px 40px;
}

.meta{
    color: #418477;
}
/*Klantenlijst */

.list-item{
    min-height: 80px ;
    background-color: #fbfbfb;
    border: 1px solid #dbdbdb;


    /*box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2); */

}
.list-item:hover,
.list-item:focus,
.list-item:active{
    background-color:#fbfbfb;
    cursor: pointer;
    outline: 0;
    webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.list-item li{
    padding: 10px;
    height:auto;
    color: #418477;
    font-weight: 600;
    font-size: 1em;
}
.list-item li a i{
    color: #418477;

}
.list-item li a i:hover{
    color: #222;

}
.list-item img{
    height:50px;
    width: auto;
    display: inline-block;

}
.list-item h4{
    color: #418477;
    padding: 15px;
    margin: 0;
    display: inline-block;
}
.list-item li  p{
    color: #418477;
    padding: 15px;

}
.icon{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height:50px;
    vertical-align: middle;
    color: #418477;
    font-size: 25px;
}
.circle-icon {
    background: #418477;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height:50px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 25px;

}

.block ul li{
    list-style: none;
    color: #222;
}

.block ul li{

}
.block label{
    color: #418477;
    padding-right: 15px;
}



@media (max-width: 768px) {
    .sidebar {
       display: none;
    }
    .list-item h4{

        padding: 0px;


    }
    .list-item li  p{
        padding: 0px;

    }
    .icon{
        width: 30px;
        height: 30px;
        line-height:30px;
        font-size: 18px;
    }
    .circle-icon {
        width: 40px;
        height:40px;
        line-height:40px;
        font-size: 20px;

    }


}
